:root {
    --logo-web-color: #4D5AE5;
}

:root {
    --title-color: #2E2F42;
}

:root {
    --paragraph-color: #434455;
}

:root {
    --btn-color: #e7e9fc;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: var(--paragraph-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    outline: 2px solid red;
    width: 1158px;
    padding: 0 15px 0 15px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 156px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-web-color);
    text-transform: uppercase;
    margin-right: 76px
}

.link {
    text-decoration: none
}

.header-logo .studio {
    color: var(--title-color);
}

.header-list {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 261px;
    justify-content: space-between;
    gap: 40px;
    margin-right: 332px;
    padding: 24px 0;
}

.list {
    list-style: none
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-item:hover,
.header-item:focus {
    color: #404bbf;
}

.address {}

.address-list {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

.mail {
    padding-right: 40px;
}

.phone {}

.hero {
    background: var(--title-color);
    height: 600px;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 188px 0;
    gap: 48px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    width: 100%;
    height: 100px;
    max-width: 169px;
    max-height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.qualities {
    padding: 120px 0
}

.hidden {
    visibility: hidden;
}

.qualities-list {
    display: flex;
    gap: 24px;
    margin: 120px 156px;
    width: 100%;
    height: 100%;
    max-width: 1128px;
    max-height: 104px;
}

.qualities-item {
    width: calc((100% - 96px) / 3);
}

.qualities-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.qualities-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.actions {
    padding-bottom: 120px;
}

.action-container {
    padding: 0px 156px;
}

.actions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.actions-list {
    display: flex;
    gap: 24px;
    padding-top: 72px;
    margin-bottom: 120px;
}

.actions-item {
    width: calc((100% - 48px) / 3);
}

.team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-top: 120px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0 156px 120px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
    gap: 8px;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.team-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    padding: 100px 1020px 100px 156px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-web-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .studio {
    color: #F4F4FD;
}

.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-top: 16px;
}

.menu {
    padding-top: 96px;
    padding-bottom: 120px;
}

.menu-navigation-list {
    display: flex;
    gap: 24px;
    max-width: 586px;
    margin: 0 auto;
    padding-top: 96px;
    margin-bottom: 72px;
    justify-content: center;
}

.menu-navigation-item {
    width: calc((100% - 120px) / 4);
    padding: 24px 0;
}

.menu-navigation-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--btn-color);
    border-radius: 4px;
}

.menu-navigation-btn:hover,
.menu-navigation-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
    border: 1px solid transparent;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 156px 120px;
    row-gap: 48px;
}

.menu-item {
    width: calc((100% - 48px) / 3);
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
    gap: 8px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.menu-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.menu-item-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}